.form-ui {
    label {
        width:100%;
        padding-top:halve($inuit-base-spacing-unit);
    }
    input, textarea {
        width:100%;
        height: $inuit-base-spacing-unit;
        margin-bottom:halve($inuit-base-spacing-unit);
        color: $darker;
    }    
    textarea {
        height: $inuit-base-spacing-unit * 4;
    }
    .form-ui__actions {
        width:100%;
        text-align:right;
    }
}

