@import "../../bower_components/inuit-defaults/settings.defaults";
@import "settings";

$inuit-base-background-color: $darkest;
$inuit-base-text-color: $foreground;

@import "../../bower_components/inuit-functions/tools.functions";
@import "../../bower_components/inuit-mixins/tools.mixins";

@import "../../bower_components/inuit-normalize/generic.normalize";
@import "../../bower_components/inuit-box-sizing/generic.box-sizing";

@import "../../bower_components/inuit-page/base.page";

$inuit-enable-btn--small: true;
@import "../../bower_components/inuit-buttons/objects.buttons";

$inuit-enable-list-ui--small: true;
@import "../../bower_components/inuit-list-ui/objects.list-ui";

@import "../../bower_components/inuit-list-block/objects.list-block";


//Components

@import "components/_composer.scss";
@import "components/_form-ui.scss";
@import "components/_file-list.scss";

a {
    color: $brightAccent;
}
a:visisted, a:active {
    color: scale-color($brightAccent, $saturation: 30%);
}